@import "tailwindcss";
@import "react-day-picker/dist/style.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Agregar acá las var para las fuentes */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto);
  --font-great-vibes: var(--font-great-vibes);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}